################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/ExcelCodeGen/.vs/ExcelCodeGen/v16
/ExcelCodeGen/.vs/ExcelCodeGen/DesignTimeBuild
/ExcelCodeGen/GenExampleCodeDOM/obj/Debug
/ExcelCodeGen/GenExampleT4/bin/Debug/netcoreapp3.1
/ExcelCodeGen/GenExampleT4/obj/Debug/netcoreapp3.1
/ExcelCodeGen/GenExampleT4/obj
/ExcelCodeGen/GenExampleT4Model/bin/Debug/netstandard2.0
/ExcelCodeGen/GenExampleT4Model/obj
/ExcelCodeGen/TargetCodeDOM/obj
/ExcelCodeGen/GenExampleCodeDOM/bin/Debug
/ExcelCodeGen/GenExampleRuntimeT4/bin/Debug
/ExcelCodeGen/GenExampleRuntimeT4/obj/Debug
/ExcelCodeGen/TargetRuntimeT4/bin/Debug/netcoreapp3.1
/ExcelCodeGen/TargetRuntimeT4/obj
/ExcelCodeGen/PolygonTestCircle/bin/Debug/netcoreapp3.1
/ExcelCodeGen/PolygonTestCircle/obj
/ExcelCodeGen/PolygonTestRectangle/bin/Debug/netcoreapp3.1
/ExcelCodeGen/PolygonTestRectangle/obj
/ExcelCodeGen/PolygonTestTrapezoid/bin/Debug/netcoreapp3.1
/ExcelCodeGen/PolygonTestTrapezoid/obj
/ExcelCodeGen/GeometricModels/obj
/ExcelCodeGen/GeometricModelsCore/obj
*.config
/ExcelCodeGen/GenExampleDirect/obj/Debug
/ExcelCodeGen/GenExampleT4Dynamic/obj/Debug
/ExcelCodeGen/GeometricModels/bin/Debug/netstandard2.0
/ExcelCodeGen/GeometricModelsCore/bin/Debug/netcoreapp3.1
/ExcelCodeGen/TargetCodeDOM/bin/Debug/netcoreapp3.1
/ExcelCodeGen/.vs/AgileCodeGeneration
/AgileCodeGen/.vs/AgileCodeGeneration
/AgileCodeGen/GenExampleCodeDOM/obj/Debug
/AgileCodeGen/GenExampleDirect/bin/Debug
/AgileCodeGen/GenExampleDirect/obj
/AgileCodeGen/GenExampleT4/bin/Debug/netcoreapp3.1
/AgileCodeGen/GenExampleT4/obj
/AgileCodeGen/GenExampleT4Dynamic/bin/Debug
/AgileCodeGen/GenExampleT4Dynamic/obj/Debug
/AgileCodeGen/GeometricModels/bin/Debug/netstandard2.0
/AgileCodeGen/GeometricModels/obj
/AgileCodeGen/GeometricModelsCore/bin/Debug/netcoreapp3.1
/AgileCodeGen/GeometricModelsCore/obj
/AgileCodeGen/PolygonTestCircle/bin/Debug/netcoreapp3.1
/AgileCodeGen/PolygonTestCircle/obj
/AgileCodeGen/PolygonTestRectangle/bin/Debug/netcoreapp3.1
/AgileCodeGen/PolygonTestRectangle/obj
/AgileCodeGen/PolygonTestTrapezoid/bin/Debug/netcoreapp3.1
/AgileCodeGen/PolygonTestTrapezoid/obj
/AgileCodeGen/TargetCodeDOM/bin/Debug/netcoreapp3.1
/AgileCodeGen/TargetCodeDOM/obj
/AgileCodeGen/TargetRuntimeT4/bin/Debug/netcoreapp3.1
/AgileCodeGen/TargetRuntimeT4/obj
/AgileCodeGen/~$PolygonCodeGenerator.xlsm
